# PyCity Schools Analysis

* Your analysis here
---

In [12]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

In [43]:
# Calculate the Totals (Schools and Students)
school_count = school_data_complete["school_name"].nunique()
student_count = school_data_complete["student_name"].count()

# Calculate the Total Budget
total_budget = school_data["budget"].sum() 

print(f"Total number of unique schools: {school_count:}")
print(f"Total Students: {student_count:}")
print(f"Total Budget: {total_budget:}")

Total number of unique schools: 15
Total Students: 39170
Total Budget: 24649428

In [41]:
# Calculate the Average Scores
average_maths_score = student_data["maths_score"].mean()
average_reading_score = student_data["reading_score"].mean()
print(f"Average maths score: {average_maths_score:.2f}") 
print(f"Average reading score: {average_reading_score:.2f}")

Average maths score: 70.34
Average reading score: 69.98

In [47]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"] 
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_maths_reading_count =  school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50) ].count()["student_name"]

overall_passing_rate = passing_maths_reading_count/float(student_count) * 100

print(f"% passing maths: {passing_maths_percentage:.2f}%")
print(f"% passing reading: {passing_reading_percentage:.2f}%")
print(f"% overall passing: {overall_passing_rate:.2f}%")

% passing maths: 86.08%
% passing reading: 84.43%
% overall passing: 72.81%

In [65]:
# Convert to DataFrame
area_summary = pd.DataFrame({
    "Total Number of Unique Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Maths Score": [average_maths_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Maths": [passing_maths_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
})

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

In [64]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
print(per_school_counts)
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget/per_school_counts
print(per_school_budget, per_school_capita)
# Calculate the average test scores per school from school_data_complete

grouped_sn_df = school_data_complete.groupby("school_name")
per_school_maths = grouped_sn_df["maths_score"].mean()
per_school_reading = grouped_sn_df["reading_score"].mean()

print(per_school_maths)
print(per_school_reading)

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object
school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64
school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64 school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64
school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64
school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [75]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.

school_passing_maths = school_data_complete[school_data_complete["maths_score"] >= 50].groupby("school_name").count()["Student ID"]
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50].groupby("school_name").count()["Student ID"]

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].groupby("school_name").count()["Student ID"]

print(f"School Passing Maths: {school_passing_maths}")
print(f"School Passing Reading: {school_passing_reading}")
print(f"Passing Maths and Reading: {passing_maths_and_reading}")

School Passing Maths: school_name
Bailey High School       4560
Cabrera High School      1688
Figueroa High School     2408
Ford High School         2258
Griffin High School      1339
Hernandez High School    3752
Holden High School        384
Huang High School        2383
Johnson High School      3907
Pena High School          882
Rodriguez High School    3631
Shelton High School      1612
Thomas High School       1371
Wilson High School       1890
Wright High School       1652
Name: Student ID, dtype: int64
School Passing Reading: school_name
Bailey High School       4348
Cabrera High School      1655
Figueroa High School     2442
Ford High School         2252
Griffin High School      1299
Hernandez High School    3795
Holden High School        378
Huang High School        2376
Johnson High School      3903
Pena High School          833
Rodriguez High School    3495
Shelton High School      1527
Thomas High School       1351
Wilson High School       1856
Wright High School       1560
Name: Student ID, dtype: int64
Passing Maths and Reading: school_name
Bailey High School       3985
Cabrera High School      1501
Figueroa High School     1995
Ford High School         1848
Griffin High School      1194
Hernandez High School    3076
Holden High School        337
Huang High School        1946
Johnson High School      3199
Pena High School          762
Rodriguez High School    3176
Shelton High School      1389
Thomas High School       1136
Wilson High School       1540
Wright High School       1435
Name: Student ID, dtype: int64

In [79]:
#  Calculate the Percentage Pass Rates

per_school_passing_maths = (school_passing_maths / per_school_counts) * 100
per_school_passing_reading = (school_passing_reading / per_school_counts) * 100
overall_passing_rate_per_school = (passing_maths_and_reading / per_school_counts) * 100

print(f"% Percentage Pass Rates maths per school: {per_school_passing_maths}")
print(f"% Percentage Pass Rates reading per school: {per_school_passing_reading}")
print(f"% Percentage Pass Rates overall per school: {overall_passing_rate_per_school}")

% Percentage Pass Rates maths per school: school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64
% Percentage Pass Rates reading per school: school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64
% Percentage Pass Rates overall per school: school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [82]:
# Convert to DataFrame

per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Student Count": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Score Maths": per_school_maths,
    "Average Score Reading": per_school_reading,
    "School Passing Maths": school_passing_maths,
    "School Passing Reading": school_passing_reading,
    "Passing Maths and Reading": passing_maths_and_reading,
    "Percentage Pass Rates maths per school": per_school_passing_maths,
    "Percentage Pass Rates reading per school": per_school_passing_reading,
    "Percentage Pass Rates overall per school": overall_passing_rate_per_school
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Student Count,Total School Budget,Per Student Budget,Average Score Maths,Average Score Reading,School Passing Maths,School Passing Reading,Passing Maths and Reading,Percentage Pass Rates maths per school,Percentage Pass Rates reading per school,Percentage Pass Rates overall per school
school_name,,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,4560,4348,3985,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,1688,1655,1501,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,2408,2442,1995,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,2258,2252,1848,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,1339,1299,1194,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,3752,3795,3076,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,384,378,337,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,2383,2376,1946,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,3907,3903,3199,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,882,833,762,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,3631,3495,3176,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,1612,1527,1389,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,1371,1351,1136,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,1890,1856,1540,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,1652,1560,1435,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

In [84]:
# Sort and show top five schools
top_schools = per_school_summary.sort_values("Percentage Pass Rates overall per school", ascending=False)
top_schools.head(5)

,School Type,Total Student Count,Total School Budget,Per Student Budget,Average Score Maths,Average Score Reading,School Passing Maths,School Passing Reading,Passing Maths and Reading,Percentage Pass Rates maths per school,Percentage Pass Rates reading per school,Percentage Pass Rates overall per school
school_name,,,,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,1339,1299,1194,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,1688,1655,1501,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,4560,4348,3985,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,1652,1560,1435,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,3631,3495,3176,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

In [85]:
# Sort and show bottom five schools
bottom_schools = per_school_summary.sort_values("Percentage Pass Rates overall per school")
bottom_schools.head(5)

,School Type,Total Student Count,Total School Budget,Per Student Budget,Average Score Maths,Average Score Reading,School Passing Maths,School Passing Reading,Passing Maths and Reading,Percentage Pass Rates maths per school,Percentage Pass Rates reading per school,Percentage Pass Rates overall per school
school_name,,,,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,3752,3795,3076,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,2383,2376,1946,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,3907,3903,3199,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,1890,1856,1540,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,2258,2252,1848,82.438846,82.219788,67.469880

## Maths Scores by Year

In [95]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name

year_nine_scores = year_nine.groupby("school_name").mean()
year_ten_scores = year_ten.groupby("school_name").mean()
year_eleven_scores = year_eleven.groupby("school_name").mean()
year_twelve_scores = year_twelve.groupby("school_name").mean()

print(f"Year Nine Scores: {year_nine_scores}")
print(f"Year Ten Scores: {year_ten_scores}")
print(f"Year Eleven Scores: {year_eleven_scores}")
print(f"Year Twelve Scores: {year_twelve_scores}")

# Combine series into single DataFrame

year_nine_math_scores = year_nine.groupby("school_name")["math_score"].mean()
year_ten_math_scores = year_ten.groupby("school_name")["math_score"].mean()
year_eleven_math_scores = year_eleven.groupby("school_name")["math_score"].mean()
year_twelve_math_scores = year_twelve.groupby("school_name")["math_score"].mean()

maths_scores_by_year = pd.DataFrame({
    "9th year": year_nine_math_scores,
    "10th year": year_ten_math_scores,
    "11th year": year_eleven_math_scores,
    "12th year": year_twelve_math_scores
})

# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

TypeError: agg function failed [how->mean,dtype->object]

## Reading Score by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores =
year_ten_scores =
year_eleven_scores =
year_twelve_scores =

# Combine series into single DataFrame
reading_scores_by_year =

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
#  This step can be skipped but its best to make a copy.
school_spending_df = per_school_summary

In [ ]:
# Categorise spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_maths_scores = per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
type_summary =

# Display results
type_summary